* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    background-color: #ffdddd;
    color: #0d05f4;
    text-align: center;
    padding: 30px;

}

.sivut {
    background-color: #929deb;
    text-align: center;
    color: aliceblue;
}

.teksti {
    padding: 20px;
    float: left;
    width: 50%;
}


.linkit {
    float: left;
    height: 500px;
    background-color: beige;
    width: 15%;

    
  }

  .efekti:hover {
    color:#ff0000;
}

